<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>مسابقة حروف</title>
</head>

<body>
    <div class="container">
        <div class="board" id="app">
            <div class="abscont">
                <div v-for="i in 5" :key="i" :class="['row', {row2: i%2 === 0, row1: i%2 !== 0, 'first-row': i === 1}]">
                    <button v-for="j in 5" :key="j" :class="['hexagon-border ', { 'first-col': j === 1 }]">
                        <div class="hexagon bg-white" :ref="'btn' + index(i, j)" :index="index(i, j)" color="1"
                            @click="ask($event)">
                            {{ randomChars[index(i, j-1)] }}
                        </div>
                    </button>
                </div>
            </div>
            <div v-if="showQuestion" class="overlay">
                <div class="question-box">
                    <p @click="showAnswer = !showAnswer">{{ question }}</p>
                    <p v-if="showAnswer" class="answer">{{ answer }}</p>
                    <div class="buttons">
                        <button @click="setColor('bg-white'); showAnswer = false" class="reset">o</button>
                        <button @click="showQuestion = false; showAnswer = false" class="close">x</button>
                        <button @click="setColor('bg-green'); showAnswer = false" class="bg-green score">أخضر</button>
                        <button @click="setColor('bg-red'); showAnswer = false" class="bg-red score">أحمر</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    randomChars: [],
                    showQuestion: false,
                    showAnswer: false,
                    question: '',
                    answer: '',
                    selectedIndex: null,
                    data: {},
                };
            },
            async created() {
                this.randomChars = this.generateRandomChars(25)
                try {
                    const response = await fetch('./questionsList.json'); // لاحظ استخدام './'
                    if (!response.ok) {
                        throw new Error('خطأ في تحميل ملف JSON');
                    }
                    const jsonData = await response.json();
                    this.data = jsonData;
                    console.log(this.data); // لعرض البيانات في وحدة التحكم
                } catch (error) {
                    console.error('حدث خطأ:', error);
                }
            },
            methods: {
                generateRandomChars(n) {
                    const chars = 'أبتثجحخدذرزسشصضطظعغفقكلمنهوي'.split('')
                    const shuffled = chars.sort(() => 0.5 - Math.random())
                    return shuffled.slice(0, n)
                },
                ask(ev) {
                    const element = ev.currentTarget;
                    const index = parseInt(element.getAttribute('index'));
                    this.selectedIndex = index;

                    let char = element.childNodes[0].textContent;
                    this.displayQuestion(char);
                },
                displayQuestion(char) {
                    const randomIndex = Math.floor(Math.random() * this.data[char].length);
                    this.question = this.data[char][randomIndex]['question'];
                    this.answer = this.data[char][randomIndex]['answer'];
                    console.log(this.question);
                    this.showQuestion = true;
                },
                setColor(color) {
                    if (this.selectedIndex !== null) {
                        console.log(this.selectedIndex);
                        const element = this.$refs['btn' + this.selectedIndex][0];

                        element.classList.remove("bg-white", "bg-green", "bg-red");
                        element.classList.add(color);
                        this.showQuestion = false;
                    }
                },
                index(i, j) {
                    return (i - 1) * 5 + j;
                },
            },
        })
        app.mount('#app')
    </script>
</body>

</html>